In [ ]:
import numpy as  np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from ipywidgets import interact

In [ ]:
# For predictive data analysis
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier


from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score, precision_recall_curve

In [ ]:
data=pd.read_csv('/content/data (6).csv')

In [ ]:
data.head()

,soil,pH,type,temp,rainfall,humidity,sowing_month,crop
0,black,6.063604,loam,23.321508,77.461205,57.663885,7,maize
1,alluvial,6.025738,clay,35.878778,176.768842,63.309918,5,rice
2,laterite,6.488525,clay,32.467820,88.932953,59.021547,6,cotton
3,redandyellow,6.059400,loam,24.930039,121.643095,73.829977,10,coffee
4,alluvial,5.679515,clay,21.775325,232.020612,60.103052,6,rice

In [ ]:
print("shape of dataset:",data.shape)

shape of dataset: (20000, 8)

In [ ]:
data.isnull().sum()

soil            0
pH              0
type            0
temp            0
rainfall        0
humidity        0
sowing_month    0
crop            0
dtype: int64

In [ ]:
data['crop'].value_counts()

coffee       2551
maize        2538
rice         2536
sugarcane    2518
tea          2484
jute         2481
wheat        2477
cotton       2415
Name: crop, dtype: int64

In [ ]:
data['soil'].value_counts()

alluvial        7902
black           4163
mountain        2484
laterite        2481
redandyellow    2130
arid             840
Name: soil, dtype: int64

In [ ]:
data['type'].value_counts()

loam    10834
clay     7083
sand     2083
Name: type, dtype: int64

In [ ]:
data1 = pd.get_dummies(data,columns=['soil','type'],drop_first=True)

In [ ]:
data1

,pH,temp,rainfall,humidity,sowing_month,crop,soil_arid,soil_black,soil_laterite,soil_mountain,soil_redandyellow,type_loam,type_sand
0,6.063604,23.321508,77.461205,57.663885,7,maize,0,1,0,0,0,1,0
1,6.025738,35.878778,176.768842,63.309918,5,rice,0,0,0,0,0,0,0
2,6.488525,32.467820,88.932953,59.021547,6,cotton,0,0,1,0,0,0,0
3,6.059400,24.930039,121.643095,73.829977,10,coffee,0,0,0,0,1,1,0
4,5.679515,21.775325,232.020612,60.103052,6,rice,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5.625046,33.860422,246.112064,60.850606,6,rice,0,0,0,0,0,0,0
19996,5.263746,25.498666,269.220375,65.813790,4,tea,0,0,0,1,0,1,0
19997,6.288208,25.476959,176.037948,75.045343,5,jute,0,0,0,0,0,0,0
19998,6.254648,22.601163,74.121838,53.526233,11,wheat,0,0,0,0,0,1,0
19999,6.658074,29.968597,156.470580,56.610187,11,sugarcane,0,0,0,0,1,1,0

In [ ]:
y=data1['crop']
x=data1.drop(['crop'],axis=1)
print("shape of x:",x.shape)
print("shape of y:",y.shape)

shape of x: (20000, 12)
shape of y: (20000,)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=0.2, random_state=0)
print("The shape of x train",x_train.shape)
print("The shape of y train",y_train.shape)
print("The shape of x test",x_test.shape)
print("The shape of y test",x_test.shape)

The shape of x train (16000, 12)
The shape of y train (16000,)
The shape of x test (4000, 12)
The shape of y test (4000, 12)

In [ ]:
x_test.head(2)

,pH,temp,rainfall,humidity,sowing_month,soil_arid,soil_black,soil_laterite,soil_mountain,soil_redandyellow,type_loam,type_sand
19134,6.294879,27.059186,85.454276,59.718613,2,0,1,0,0,0,0,1
4981,5.415986,29.409754,175.176409,74.520988,2,0,0,0,1,0,0,0

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
Logistic_model=accuracy_score(y_pred,y_test)*100
print("Accuracy:",Logistic_model)

Accuracy: 87.1

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
svm_model = SVC()
svm_model.fit(x_train, y_train)
y_pred = svm_model.predict(x_test)
svm_model_acc = accuracy_score(y_pred, y_test) * 100
print("Accuracy:", svm_model_acc)

Accuracy: 91.85

In [ ]:
prediction=svm_model.predict((np.array([[6.6,
                                     23,
                                     77,
                                     57,
                                     7,
                                     0,
                                     1,
                                     0,
                                     0,
                                     0,
                                     1,
                                     0]])))
print("The suggested crop is given climatic condition is:", prediction)

The suggested crop is given climatic condition is: ['maize']

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [ ]:
import pickle
with open('model', 'wb') as files:
    pickle.dump(svm_model, files)